<mat-toolbar class='flexHorizontal flexJAround'>
  <span>Smb Communication</span>
  <span class='flexHorizontal flexJAround'>
    <!-- Buttons -->
    <a class='headerButton' mat-raised-button [routerLink]="['/messages']" routerLinkActive="router-link-active">گفت‌وگوها</a>
    <a class='headerButton' mat-raised-button [routerLink]="['/orders']" routerLinkActive="router-link-active">سفارشات</a>
    <a class='headerButton' mat-raised-button [routerLink]="['/products']" routerLinkActive="router-link-active">محصولات</a>
  </span>
</mat-toolbar>
