html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.background-color-primary {
  background-color: #ffffff;
}
.background-color-secondary {
  background-color: #f5f5f5;
}
.flexHorizontal {
  display: flex;
  flex-direction: row;
}
.flexVertical {
  display: flex;
  flex-direction: column;
}
.flexGrow1 {
  flex-grow: 1;
}
.flexGrow2 {
  flex-grow: 2;
}
.flexJAround {
  justify-content: space-around;
}
.flexJBetween {
  justify-content: space-between;
}
.flexJEnd {
  justify-content: flex-end;
}
.flexACenter {
  align-items: center;
}
